body {
    margin: 0px;
}

.frame {
    width: 200px;
    height: 300px;
    margin: 40px;
    position: absolute;
    left: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-container {
    width: 1000px;
    height: 300px;
    background-color: grey;
    z-index: -1;
    position: absolute;
    right: -400px;
    display: flex;
    transition: right 0.2s;
}

.button-container {
    position: absolute;
    display: flex;
    width: 300px;
    left: -50px;
    height: 50px;
    align-items: center;
    justify-content: space-between
}

.left-button, .right-button {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 3rem;
    font-weight: 900;
    cursor: pointer;
    transition: transform .2s;
}

.left-button:hover, .right-button:hover {
    transform: scale(1.25);
}

.left-button:active, .right-button:active {
    transform: scale(0.5);
}

.right-button {
    background-image: url(./Icons/right-arrow.svg);
    background-size: cover;
}

.left-button {
    background-image: url(./Icons/left-arrow.svg);
    background-size: cover;
}

.pick-pos-container {
    width: 150px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.178);
    position: absolute;
    top: 310px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.pick-pos {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgba(51, 51, 51, 0.589);
    cursor: pointer;
    transition: transform .2s;
}

.pick-pos:hover {
    transform: scale(2);
}

.pick-pos:active {
    transform: scale(0.5);
}

.one, .two, .three, .four, .five {
    background-size:cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 300px;
}

.one {
    background-image: url(./slide-images/A\ New\ Earth.jpeg );
}
.two {
    background-image: url(./slide-images/ikigai.jpg);
}
.three {
    background-image: url(./slide-images/Living\ and\ Dying.jpg);
}
.four {
    background-image: url(./slide-images/meditations.jpg);
}
.five {
    background-image: url(./slide-images/parzival.jpg);
}